// Neue Haas Display Pro
@font-face {
    font-family: "Neue Haas Display Pro";
    src: url("../src/assets/fonts/NeueHaas/NeueHaasDisplayBlack.woff");
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: "Neue Haas Display Pro";
    src: url("../src/assets/fonts/NeueHaas/NeueHaasDisplayLight.woff");
    font-style: normal;
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: "Neue Haas Display Pro";
    src: url("../src/assets/fonts/NeueHaas/NeueHaasDisplayMedium.woff");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Neue Haas Display Pro";
    src: url("../src/assets/fonts/NeueHaas/NeueHaasDisplayRoman.woff");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "Neue Haas Display Pro";
    src: url("../src/assets/fonts/NeueHaas/NeueHaasDisplayThin.woff");
    font-style: normal;
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: "Gambetta";
    src: url("../src/assets/fonts/Gambetta/Gambetta-LightItalic.woff");
    font-style: italic;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gambetta";
    src: url("../src/assets/fonts/Gambetta/Gambetta-Light.woff");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "Migra";
    src: url("../src/assets/fonts/Migra/Migra-Extralight.woff");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}