@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./fonts.scss";
@import "./custom-cursor.scss";

@layer components {
    .fixed-center {
        @apply top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2
    }

    .input__text {
        @apply inline-block mb-4 text-step5 w-full uppercase font-medium bg-transparent border-rg-white border-b placeholder-neutral-800 placeholder-opacity-50
    }

    .option {
        @apply text-step5
    }
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-color: #0e1216;
    color: #f1ede9;
    scroll-behavior: smooth;
    font-family: "Neue Haas Display Pro";
}

body::before {
    content: "";
    background-image: url("/fuzzy-fuzz.gif");
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    opacity: 0.025;
    pointer-events: none;
    z-index: 999999;
    background-repeat: repeat;
    pointer-events: none;
    // background-size: cover;
}

body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

select option {
    color: black;
}

select[value="default"] {
    color: red !important;
}

#hero-title {
    background-image: url('/giffy.webp');
    background-size: cover;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.word,
.line {
    overflow: hidden;
    padding-bottom: 0.1em;
    margin-bottom: -0.1em;
    transform-origin: bottom;
}

.show {
    opacity: 100;
}

.hide {
    opacity: 0;
}

.transitioning {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: rgb(94, 94, 94);
    perspective: 1800px;
}

[text-split] span.line {
    display: inline-block !important;
}

.project-title {
    -webkit-text-stroke: 1px #f1ede9;
    color: transparent;
}

.title-clone {
    clip-path: inset(0 100% 0 0);
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.clone-appear {
    clip-path: inset(0 0 0 0);
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

// #works-section {
//     [text-split] h3:nth-child(2) {
//         position: absolute !important;
//         top: 0;
//         left: 0;
//     }
// }